# This file is part of Hoppy.
#
# Copyright 2015-2020 Bryan Gardiner <bog@khumba.net>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Backup files.
*~

# Build output - general.
*.o
*.so
dist
dist-newstyle
dist-sandbox-*
.cabal-sandbox

# Build outputs - specific.
/example/example-cpp/cpp/gen_*
/example/example/src/Foreign/Hoppy/Example/Std.hs
/example/example/src/Foreign/Hoppy/Example/Utils.hs
/tests/suites/basic/cpp/cpp/basic.*
/tests/suites/basic/hs/src/Foreign/Hoppy/Test/Basic.hs
/tests/suites/circular/cpp/cpp/flobm.*
/tests/suites/circular/cpp/cpp/flubm.*
/tests/suites/circular/hs/src/Foreign/Hoppy/Test/Flob.hs*
/tests/suites/circular/hs/src/Foreign/Hoppy/Test/Flub.hs*
/tests/suites/enumeval/cpp/cpp/enumeval.*
/tests/suites/enumeval/hs/src/Foreign/Hoppy/Test/Enumeval.hs
/tests/suites/stl/cpp/cpp/std.*
/tests/suites/stl/cpp/cpp/stl.*
/tests/suites/stl/hs/src/Foreign/Hoppy/Test/Std.hs
/tests/suites/stl/hs/src/Foreign/Hoppy/Test/Stl.hs
