# This file is part of Hoppy.
#
# Copyright 2015-2020 Bryan Gardiner <bog@khumba.net>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

*~
dist
dist-sandbox-*
.cabal-sandbox

example/example-cpp/cpp/*.o
example/example-cpp/cpp/gen_*
example/example-cpp/cpp/libexample.so
example/example/src/Foreign/Hoppy/Example/Std.hs
example/example/src/Foreign/Hoppy/Example/Utils.hs
